<!DOCTYPE html>
<html>
  <head>
    <title>Shrnk - URL Shortener</title>
    <meta name="description" content="URL Shortener" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=VT323"
      rel="stylesheet"
    />
    <!--VUE DEV-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!--VUE PROD-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  </head>
  <body>
    <div id="app">
      <navbar></navbar>
      <section class="hero is-success is-fullheight" v-cloak>
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title home is-1">
              Shr:nk
            </h1>
            <h2 class="subtitle">
              URL Shortener
            </h2>
            <div class="card">
              <div class="card-content">
                <div class="field has-addons has-addons-centered">
                  <form @submit="handleSubmit">
                    <div class="control is-expanded">
                      <input
                        ref="input"
                        :class="['input is-medium', {'is-danger': errorMessage}]"
                        v-model="url"
                        @input="reset(false)"
                        name="url"
                        type="text"
                        placeholder="Paste URL here"
                      />
                      <p :class="['help', {'is-danger': errorMessage}]">
                        {{ errorMessage }}
                      </p>
                    </div>
                    <div class="control">
                      <button
                        v-if="!isSuccess"
                        type="submit"
                        class="submit button is-info is-medium"
                      >
                        <span class="icon is-small">
                          <i class="fa fa-magic"></i>
                        </span>
                        <span>Shrink</span>
                      </button>
                      <a
                        v-if="isSuccess"
                        @click="copyUrl"
                        class="copy button is-success is-medium"
                      >
                        <span class="icon is-small">
                          <i class="fa fa-clipboard"></i>
                        </span>
                        <span>{{ copyText }}</span>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
              <div v-if="isSuccess" class="another" @click="reset(true)">
                <a>Another?</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="/client.js"></script>
  </body>
</html>
